@charset "utf-8";
/* CSS Document */

/**/


/* Responed Code !! */
@media (max-width: 991px) {
	md-body {
		display: none;
	}
	md-footer {
		display: none;
	}
	sm-body {
		display: block;
	}
	sm-footer {
		display: block;
	}
}
@media (min-width: 992px) {
	sm-body {
		display: none;
	}
	sm-footer {
		display: none;
	}
}
