@charset "utf-8";
/* CSS Document */

/**/
label.title {
    font-family: 'Prompt', sans-serif;
    font-size: 110%;
    padding-top: 1.5%;
}
label.detail {
	font-family: 'Prompt', sans-serif;
}
p.detail {
	font-family: 'Prompt', sans-serif;
}

/* Responed Code !! */
@media (max-width: 991px) {
	md-body {
		display: none;
	}
	md-footer {
		display: none;
	}
	sm-body {
		display: block;
	}
	sm-footer {
		display: block;
	}
}
@media (min-width: 992px) {
	sm-body {
		display: none;
	}
	sm-footer {
		display: none;
	}
}
